body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Navbar design */

.header-container {
  width: 1160px;
  margin: auto;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 62px;
  height: 62px;
}

.logo-container h1 {
  font-family: "Quicksand", serif;
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.home > a {
  text-decoration: none;
  color: orange;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.about > a {
  text-decoration: none;
  color: skyblue;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.facilities > a {
  text-decoration: none;
  color: #05d4df;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.admission > a {
  text-decoration: none;
  color: #5d58ef;
  font-size: 20px;
  font-weight: bold;
  font-family: "Quicksand", serif;
}

.contact-btn {
  background-color: orange;
  color: white;
  border: none;
  width: 197px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Quicksand", serif;
}

.menu-icon {
  display: none;
}

/* Banner Design */
.banner-container {
  width: 1160px;
  height: 575px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.banner-title {
  font-size: 56px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: black;
}

.empowering {
  color: orange;
}

.towards-vision {
  color: skyblue;
}

.banner-subtitle {
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: black;
}

.enroll-now-btn {
  background-color: black;
  color: white;
  border: none;
  width: 197px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Quicksand", serif;
}

/* Standard Curriculum Design */

.standard-curriculum-container {
  width: 100%;
  height: 750px;
  background-image: url(/assets/bg.png);
}

.standard-curriculum {
  font-size: 46px;
  font-weight: bold;
  font-family: "Quicksand" sans-serif;
  color: black;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0;
}

.cards-container {
  width: 1160px;
  height: 481px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.sc-card-1 {
  width: 367.8px;
  height: 446.78px;
  border-radius: 18px;
  background-color: #def5ff;
  background-image: linear-gradient(180deg, #def5ff, white);
}

.sc-card-2 {
  width: 367.8px;
  height: 446.78px;
  background-color: #fff4dc;
  border-radius: 18px;
  background-image: linear-gradient(180deg, #fff4dc, white);
}

.sc-card-3 {
  width: 367.8px;
  height: 446.78px;
  background-color: #f2e8ff;
  border-radius: 18px;
  background-image: linear-gradient(180deg, #f2e8ff, white);
}

.sc-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 32px;
}

.sc-card-title {
  text-align: center;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.sc-card-subtitle {
  text-align: center;
  font-family: "Quicksand" sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 0 40px;
}

.kinder-read-more {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #64c8ff;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.elementary-read-more {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #f0aa00;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.middle-read-more {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #8700ff;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow-container img {
  width: 24px;
  height: 24px;
  background-color: orange;
  padding: 10px;
  border-radius: 100%;
}

.arrow-container img:hover {
  background-color: skyblue;
  cursor: pointer;
}

/* Our Stories Design */

.our-stories-container {
  width: 100%;
  height: 1018px;
  background-image: linear-gradient(to top, rgba(254, 163, 1, 0.3) 30%, rgba(254, 163, 1, 0) 100%), url("/assets/bg.png");
}

.our-stories {
  font-size: 46px;
  font-weight: bold;
  font-family: "Quicksand" sans-serif;
  color: black;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0;
}

.our-stories-cards-container {
  width: 1160px;
  height: 630px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.flex-item1,
.flex-item2 {
  width: 50%;
  height: auto;
}

.flex-item1 {
  background: white;
  height: 630px;
  border-radius: 16px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4 {
  background: white;
  width: 290px;
  height: 300px;
  border-radius: 16px;
  position: relative;
}

.story-image {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-bottom: 38px;
}

.story-image-one {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-bottom: 38px;
}

.date-card-one {
  background-color: #95b226;
  border-radius: 47px;
  width: 174px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  top: 157px;
  z-index: 10;
  left: 38px;
}

.date-card-two {
  background-color: #5d58f0;
  border-radius: 47px;
  width: 174px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  top: 157px;
  z-index: 10;
  left: 38px;
}

.date-card-three {
  background-color: #3cd8e8;
  border-radius: 47px;
  width: 174px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  top: 330px;
  z-index: 10;
  left: 38px;
}

.story-title-one {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: start;
  margin-top: 0;
}

.story-card-one-content {
  padding: 38px;
}

.story-title {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.story-card-one-description {
  font-size: 15px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
}

.view-all-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-btn {
  background-color: black;
  color: white;
  border: none;
  width: 197px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Quicksand", serif;
  margin-top: 80px;
}

/* Footer Design */
.footer-container {
  width: 100%;
  height: 519px;
  background-color: #01acfd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-cards-container {
  width: 1160px;
  height: 222px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.footer-card-one {
  width: 50%;
}

.footer-card-two {
  width: 35%;
}

.footer-card-three {
  width: 15%;
}

.kids-education {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: white;
  margin: 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo img {
  width: 82px;
  height: 81px;
}

.footer-subtitle {
  text-align: start;
  font-family: "Quicksand" sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  width: 70%;
}

.about-school {
  font-size: 24px;
  font-weight: bold;
  font-family: "Quicksand" sans-serif;
  color: white;
  margin: 0;
  padding-bottom: 32px;
}

.footer-nav-links {
  list-style-type: none;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav-links li {
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand" sans-serif;
}

.footer-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* Mobile Responsive media query */
@media screen and (max-width: 576px) {
  /* Navbar style */
  .header-container {
    width: auto;
    height: auto;
    padding: 20px;
    border-bottom: 0.5px solid orange;
  }

  .nav-links {
    display: none;
  }

  .logo-container h1 {
    display: none;
  }

  .contact-btn {
    display: none;
  }

  .logo-container img {
    width: 46px;
    height: 46px;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon img {
    width: 30px;
    height: 30px;
  }

  /* Banner Design */
  .banner-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px;
  }

  .banner-img img {
    width: 336px;
    height: 413px;
  }

  .banner-title {
    text-align: center;
    font-size: 32px;
  }

  .banner-subtitle {
    text-align: center;
    font-size: 14px;
  }

  .enroll-now-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Standard Curriculum Design */

  .standard-curriculum-container {
    width: 100%;
    height: 100%;
    padding: 16px;
  }

  .cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20;
  }

  .sc-card-1,
  .sc-card-2,
  .sc-card-3 {
    width: 100%;
  }

  .standard-curriculum {
    font-size: 26px;
    font-weight: bold;
    font-family: "Quicksand" sans-serif;
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
  }

  .arrow-container {
    display: none;
  }

  /* Oru Stories */
  .our-stories-container {
    width: auto;
    height: auto;
    padding: 16px;
  }

  .our-stories-cards-container {
    width: 100%;
    height: 100%;
    padding: 40px auto;
  }

  .flex-item1 {
    display: none;
  }

  .grid-container {
    gap: 11px;
  }

  .grid-item1,
  .grid-item2,
  .grid-item3,
  .grid-item4 {
    background: white;
    width: 173px;
    height: 180px;
  }

  .story-image {
    width: 173px;
    height: 105px;
  }

  .date-card-one {
    width: 103px;
    height: 22px;
    font-size: 9px;
    top: 99px;
  }

  .date-card-two {
    width: 103px;
    height: 22px;
    font-size: 9px;
    top: 99px;
  }

  .story-title {
    font-size: 9px;
  }

  .our-stories {
    font-size: 26px;
    font-weight: bold;
    font-family: "Quicksand" sans-serif;
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
  }

  .view-all-btn {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  /* Footer Design */

  .footer-container {
    width: auto;
    height: auto;
    display: block;
    padding: 16px;
  }

  .footer-cards-container {
    width: 100%;
    height: 100%;
    display: block;
  }

  .footer-card-one,
  .footer-card-two,
  .footer-card-three {
    width: 100%;
  }

  .footer-subtitle {
    width: 100%;
  }

  .footer-social-icons {
    justify-content: start;
  }
}